/*
*	Import site globals
*/
@import "global";

@import "foundation/foundation-global";
/*
*	Custom site style
*/

#main {
/*	-moz-background-size: auto;
	-webkit-background-size: auto;
	background-size: auto;
	background: url(http://www.bhmpics.com/wallpapers/london_skyline-1920x1080.jpg) no-repeat center center #fff;*/
	background: url(../assets/images/bigstock-Abstract-Blue-Background-44606053.jpg) no-repeat center center #fff;
	background-color: #D6EAF8;
	color: #333333;
	font-family: 'Lato', sans-serif;
}

#services {
}

footer {
	background-color: $topbar-bg;
	color: #333333;
}

.icon-wrapper {
	font-size: 60px;
}

section {
	h3 {
		padding: emCalc(16px);
		font-style: italic;
	}
	
}