/*
*	Import site globals
*/
@import "global";
@import "mixins";

@import "foundation/foundation-global";
/*
*	Custom site style
*/

#main {
	padding-top: emCalc(120px); // takes the top bar into consideration
	padding-bottom: emCalc(60px);
	background: url(../assets/images/bigstock-Abstract-Blue-Background-44606053.jpg) no-repeat center center #fff;
	background-color: #D6EAF8;
	color: #333333;
	font-family: 'Lato', sans-serif;
}

#services {

}

footer {
	background-color: $topbar-bg;
	color: #333333;
}

.icon-wrapper {
	font-size: 60px;
}

section {
	h3 {
		padding: emCalc(16px);
		font-style: italic;
	}
	
}