/* line 1, ../../sass/site/site.scss */
#main {
  /*	-moz-background-size: auto;
  	-webkit-background-size: auto;
  	background-size: auto;
  	background: url(http://www.bhmpics.com/wallpapers/london_skyline-1920x1080.jpg) no-repeat center center #fff;*/
  background: url(/assets/images/bigstock-bench-on-green-grass-with-conc-18391673.jpg) no-repeat center center white;
  background-color: #3498db;
  color: #FFFFFF;
}
