/* line 1, ../../sass/site/site.scss */
#main {
  /*	-moz-background-size: auto;
  	-webkit-background-size: auto;
  	background-size: auto;
  	background: url(http://www.bhmpics.com/wallpapers/london_skyline-1920x1080.jpg) no-repeat center center #fff;*/
  background-color: #0099cc;
  color: #FFFFFF;
}
